<div class="d-flex justify-content-center align-items-center">
  <h1 class="text-center">Productos</h1>
</div>
<div class="container">
    <div class="row">
        {{#each productos}}
        <div class="card col-xl-4 col-md-6 col-sm-12">
            <img src="{{img}}" alt="" class="card-img-top">
            <div class="card-body">
                <h2 class="card-title">{{title}}</h2>
                <p class="card-text">{{description}}</p>
                <p class="card-text">Price: ${{price}}</p>
            </div>
        </div>
        {{/each}}
    </div>
</div>





<div class="container mt-3">
    <div class="row text-center"> <!-- Centra los enlaces horizontalmente -->
        {{#if hasPrevPage}}
        <a href="/products?page={{prevPage}}"> <button> Anterior </button> </a>
        {{/if}}
        {{#if hasNextPage}}
        <a href="/products?page={{nextPage}}"> <button> Siguiente </button> </a>
        {{/if}}
        <p>Pagina {{currentPage}} de {{totalPages}} </p>
    </div>
</div>